
*.pyc
*.pyo
*.pyd
**/__pycache__/
*.env


venv/
env/
ENV/
.venv/


*.log
db.sqlite3
/media/
media/


.env
*.env


**/migrations/*.py
!**/migrations/__init__.py


.vscode/


.idea/


*.egg-info/
*.egg
.eggs/


dist/
build/
*.wheel


.ipynb_checkpoints/

