{% load static %}

<h2
  style="scroll-snap-type: x mandatory"
  class="text-center sm:text-left text-2xl md:text-3xl capitalize font-extrabold leading-tight font-['Bahnschrift'] my-8">
  Here’s the other pangolins
</h2>
<div></div>
<div class="relative flex items-center justify-center w-full h-full">
  <!-- Prev Button -->
  <button
    id="prevBtn"
    class="flex top-0 left-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none transition-opacity duration-300 ease-in-out">
    <svg
      class="dark:text-neutral-900"
      width="25"
      height="35"
      viewBox="0 0 8 14"
      fill="none">
      <path
        d="M7 1L1 7L7 13"
        stroke="currentColor"
        stroke-width="0.5"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </button>

  <!-- Carousel wrapper -->
  <div
    id="carouselWrapper"
    class="relative w-full overflow-hidden">
    <!-- Carousel inner container to control animation transitions -->
    <div
      id="carouselInner"
      class="flex transition-transform duration-700 ease-in-out">
      <!-- Item 1 -->
      <div class="carousel-item w-full flex-shrink-0 flex justify-center">
        <div class="h-full flex rounded-xl image-content w-full md:w-2/3 justify-center items-center mx-auto overflow-hidden">
          <section class="w-full border border-gray-300 shadow-lg rounded-xl md:w-[700px] lg:h-[350px]">
            <div class="container mx-auto flex flex-wrap">
              <div class="w-full h-[250px] lg:w-2/5 mb-5 lg:mb-0 overflow-hidden rounded-xl object-cover lg:h-[350px]">
                <img
                  alt="feature"
                  class="object-cover object-center h-full w-full"
                  src="{% static 'img/pango1.jpg' %}" />
              </div>
              <div class="flex flex-col flex-wrap lg:py-6 mb-5 lg:w-3/5 lg:pl-6 lg:text-left text-center">
                <h2 class="text-gray-900 text-xl title-font font-bold mb-3">Ground Pangolin</h2>
                <div class="mt-4 text-[#68717a] text-sm space-y-2 text-left mx-3">
                  <p><span class="font-bold">Known as:</span> Temminck's Pangolin, Cape Pangolin</p>
                  <p><span class="font-bold">Scientific Name:</span> Smutsia temminckii</p>
                  <p><span class="font-bold">Location:</span> Southern and Eastern Africa</p>
                  <p><span class="font-bold">Unique Feature:</span> Tough, overlapping scales provide armor-like protection</p>
                  <p><span class="font-bold">Diet:</span> Ants and termites</p>
                  <p><span class="font-bold">Behavior:</span> Solitary and nocturnal (active at night), excellent burrowers</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="carousel-item w-full flex-shrink-0 flex justify-center">
        <div class="h-full flex rounded-xl image-content w-full md:w-2/3 justify-center items-center mx-auto overflow-hidden">
          <section class="w-full border border-gray-300 shadow-lg rounded-xl md:w-[700px] lg:h-[350px]">
            <div class="container mx-auto flex flex-wrap">
              <div class="w-full h-[250px] lg:w-2/5 mb-5 lg:mb-0 overflow-hidden rounded-xl object-cover lg:h-[350px]">
                <img
                  alt="feature"
                  class="object-cover object-center h-full w-full"
                  src="{% static 'img/pango1.jpg' %}" />
              </div>
              <div class="flex flex-col flex-wrap lg:py-6 mb-5 lg:w-3/5 lg:pl-6 lg:text-left text-center">
                <h2 class="text-gray-900 text-xl title-font font-bold mb-3">dasdada Pangolin</h2>
                <div class="mt-4 text-[#68717a] text-sm space-y-2 text-left mx-3">
                  <p><span class="font-bold">Known as:</span> Temminck's Pangolin, Cape Pangolin</p>
                  <p><span class="font-bold">Scientific Name:</span> Smutsia temminckii</p>
                  <p><span class="font-bold">Location:</span> Southern and Eastern Africa</p>
                  <p><span class="font-bold">Unique Feature:</span> Tough, overlapping scales provide armor-like protection</p>
                  <p><span class="font-bold">Diet:</span> Ants and termites</p>
                  <p><span class="font-bold">Behavior:</span> Solitary and nocturnal (active at night), excellent burrowers</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="carousel-item w-full flex-shrink-0 flex justify-center">
        <div class="h-full flex rounded-xl image-content w-full md:w-2/3 justify-center items-center mx-auto overflow-hidden">
          <section class="w-full border border-gray-300 shadow-lg rounded-xl md:w-[700px] lg:h-[350px]">
            <div class="container mx-auto flex flex-wrap">
              <div class="w-full h-[250px] lg:w-2/5 mb-5 lg:mb-0 overflow-hidden rounded-xl object-cover lg:h-[350px]">
                <img
                  alt="feature"
                  class="object-cover object-center h-full w-full"
                  src="{% static 'img/pango1.jpg' %}" />
              </div>
              <div class="flex flex-col flex-wrap lg:py-6 mb-5 lg:w-3/5 lg:pl-6 lg:text-left text-center">
                <h2 class="text-gray-900 text-xl title-font font-bold mb-3">dasdada Pangolin</h2>
                <div class="mt-4 text-[#68717a] text-sm space-y-2 text-left mx-3">
                  <p><span class="font-bold">Known as:</span> Temminck's Pangolin, Cape Pangolin</p>
                  <p><span class="font-bold">Scientific Name:</span> Smutsia temminckii</p>
                  <p><span class="font-bold">Location:</span> Southern and Eastern Africa</p>
                  <p><span class="font-bold">Unique Feature:</span> Tough, overlapping scales provide armor-like protection</p>
                  <p><span class="font-bold">Diet:</span> Ants and termites</p>
                  <p><span class="font-bold">Behavior:</span> Solitary and nocturnal (active at night), excellent burrowers</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="carousel-item w-full flex-shrink-0 flex justify-center">
        <div class="h-full flex rounded-xl image-content w-full md:w-2/3 justify-center items-center mx-auto overflow-hidden">
          <section class="w-full border border-gray-300 shadow-lg rounded-xl md:w-[700px] lg:h-[350px]">
            <div class="container mx-auto flex flex-wrap">
              <div class="w-full h-[250px] lg:w-2/5 mb-5 lg:mb-0 overflow-hidden rounded-xl object-cover lg:h-[350px]">
                <img
                  alt="feature"
                  class="object-cover object-center h-full w-full"
                  src="{% static 'img/pango1.jpg' %}" />
              </div>
              <div class="flex flex-col flex-wrap lg:py-6 mb-5 lg:w-3/5 lg:pl-6 lg:text-left text-center">
                <h2 class="text-gray-900 text-xl title-font font-bold mb-3">dasdada Pangolin</h2>
                <div class="mt-4 text-[#68717a] text-sm space-y-2 text-left mx-3">
                  <p><span class="font-bold">Known as:</span> Temminck's Pangolin, Cape Pangolin</p>
                  <p><span class="font-bold">Scientific Name:</span> Smutsia temminckii</p>
                  <p><span class="font-bold">Location:</span> Southern and Eastern Africa</p>
                  <p><span class="font-bold">Unique Feature:</span> Tough, overlapping scales provide armor-like protection</p>
                  <p><span class="font-bold">Diet:</span> Ants and termites</p>
                  <p><span class="font-bold">Behavior:</span> Solitary and nocturnal (active at night), excellent burrowers</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="carousel-item w-full flex-shrink-0 flex justify-center">
        <div class="h-full flex rounded-xl image-content w-full md:w-2/3 justify-center items-center mx-auto overflow-hidden">
          <section class="w-full border border-gray-300 shadow-lg rounded-xl md:w-[700px] lg:h-[350px]">
            <div class="container mx-auto flex flex-wrap">
              <div class="w-full h-[250px] lg:w-2/5 mb-5 lg:mb-0 overflow-hidden rounded-xl object-cover lg:h-[350px]">
                <img
                  alt="feature"
                  class="object-cover object-center h-full w-full"
                  src="{% static 'img/pango1.jpg' %}" />
              </div>
              <div class="flex flex-col flex-wrap lg:py-6 mb-5 lg:w-3/5 lg:pl-6 lg:text-left text-center">
                <h2 class="text-gray-900 text-xl title-font font-bold mb-3">dasdada Pangolin</h2>
                <div class="mt-4 text-[#68717a] text-sm space-y-2 text-left mx-3">
                  <p><span class="font-bold">Known as:</span> Temminck's Pangolin, Cape Pangolin</p>
                  <p><span class="font-bold">Scientific Name:</span> Smutsia temminckii</p>
                  <p><span class="font-bold">Location:</span> Southern and Eastern Africa</p>
                  <p><span class="font-bold">Unique Feature:</span> Tough, overlapping scales provide armor-like protection</p>
                  <p><span class="font-bold">Diet:</span> Ants and termites</p>
                  <p><span class="font-bold">Behavior:</span> Solitary and nocturnal (active at night), excellent burrowers</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="carousel-item w-full flex-shrink-0 flex justify-center">
        <div class="h-full flex rounded-xl image-content w-full md:w-2/3 justify-center items-center mx-auto overflow-hidden">
          <section class="w-full border border-gray-300 shadow-lg rounded-xl md:w-[700px] lg:h-[350px]">
            <div class="container mx-auto flex flex-wrap">
              <div class="w-full h-[250px] lg:w-2/5 mb-5 lg:mb-0 overflow-hidden rounded-xl object-cover lg:h-[350px]">
                <img
                  alt="feature"
                  class="object-cover object-center h-full w-full"
                  src="{% static 'img/pango1.jpg' %}" />
              </div>
              <div class="flex flex-col flex-wrap lg:py-6 mb-5 lg:w-3/5 lg:pl-6 lg:text-left text-center">
                <h2 class="text-gray-900 text-xl title-font font-bold mb-3">dasdada Pangolin</h2>
                <div class="mt-4 text-[#68717a] text-sm space-y-2 text-left mx-3">
                  <p><span class="font-bold">Known as:</span> Temminck's Pangolin, Cape Pangolin</p>
                  <p><span class="font-bold">Scientific Name:</span> Smutsia temminckii</p>
                  <p><span class="font-bold">Location:</span> Southern and Eastern Africa</p>
                  <p><span class="font-bold">Unique Feature:</span> Tough, overlapping scales provide armor-like protection</p>
                  <p><span class="font-bold">Diet:</span> Ants and termites</p>
                  <p><span class="font-bold">Behavior:</span> Solitary and nocturnal (active at night), excellent burrowers</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="carousel-item w-full flex-shrink-0 flex justify-center">
        <div class="h-full flex rounded-xl image-content w-full md:w-2/3 justify-center items-center mx-auto overflow-hidden">
          <section class="w-full border border-gray-300 shadow-lg rounded-xl md:w-[700px] lg:h-[350px]">
            <div class="container mx-auto flex flex-wrap">
              <div class="w-full h-[250px] lg:w-2/5 mb-5 lg:mb-0 overflow-hidden rounded-xl object-cover lg:h-[350px]">
                <img
                  alt="feature"
                  class="object-cover object-center h-full w-full"
                  src="{% static 'img/pango1.jpg' %}" />
              </div>
              <div class="flex flex-col flex-wrap lg:py-6 mb-5 lg:w-3/5 lg:pl-6 lg:text-left text-center">
                <h2 class="text-gray-900 text-xl title-font font-bold mb-3">dasdada Pangolin</h2>
                <div class="mt-4 text-[#68717a] text-sm space-y-2 text-left mx-3">
                  <p><span class="font-bold">Known as:</span> Temminck's Pangolin, Cape Pangolin</p>
                  <p><span class="font-bold">Scientific Name:</span> Smutsia temminckii</p>
                  <p><span class="font-bold">Location:</span> Southern and Eastern Africa</p>
                  <p><span class="font-bold">Unique Feature:</span> Tough, overlapping scales provide armor-like protection</p>
                  <p><span class="font-bold">Diet:</span> Ants and termites</p>
                  <p><span class="font-bold">Behavior:</span> Solitary and nocturnal (active at night), excellent burrowers</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <!-- Next Button -->
  <button
    id="nextBtn"
    class="flex top-0 right-0 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none transition-opacity duration-300 ease-in-out">
    <svg
      class="dark:text-neutral-900"
      width="25"
      height="35"
      viewBox="0 0 8 14"
      fill="none">
      <path
        d="M1 1L7 7L1 13"
        stroke="currentColor"
        stroke-width="0.5"
        stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </button>
</div>
{% block extra_js %}
<script src="{% static 'js/private/pangolin_cards.js' %}"></script>
{% endblock extra_js %}
