{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GPPG</title>
    <link rel="icon" href="{% static 'img/logo.jpg' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static "main.css" %}"> <link
    rel="stylesheet" href="{% static "style.css" %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap"
      rel="stylesheet" />

    <link
      href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  </head>
  <body class="bg-[#eaebe6]">
    <header>
      <nav
        class="flex items-center p-3 flex-wrap bg-[#3f0703] shadow-lg opacity-90">
        <a href="{% url 'home' %}" class="p-2 mr-4 inline-flex items-center">
          <img
            class="w-[55px] h-[54px] rounded-[172px]"
            src="{% static 'img/logo.jpg' %}" />
          <span
            class="xl:block hidden mx-2 text-center text-white text-xl font-normal font-['Bahnschrift']"
            >Guardians of the Palawan Pangolin Guild</span
          >
        </a>
        <button
          class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler"
          data-target="#navigation">
          <i class="material-icons">menu</i>
        </button>
        <div
          class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto"
          id="navigation">
          <div
            class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start flex flex-col lg:h-auto">
            <a
              href="{% url 'home' %}"
              class="lg:inline-flex lg:w-auto w-full px-3 py-2 mx-5 font-medium font-['Roboto'] text-white items-center justify-center animate-border">
              <span>Home</span>
            </a>
            <a
              href="#"
              class="lg:inline-flex lg:w-auto w-full px-3 py-2 mx-5 font-medium font-['Roboto'] text-white items-center justify-center animate-border">
              <span>Trend</span>
            </a>
            <a
              href="#"
              class="lg:inline-flex lg:w-auto w-full px-3 py-2 mx-5 font-medium font-['Roboto'] text-white items-center justify-center animate-border">
              <span>Map</span>
            </a>
            <a
              href="{% url 'activities' %}"
              class="lg:inline-flex lg:w-auto w-full px-3 py-2 mx-5 font-medium font-['Roboto'] text-white items-center justify-center animate-border">
              <span>Activities</span>
            </a>
            <a
              href="{% url 'gallery' %}"
              class="lg:inline-flex lg:w-auto w-full px-3 py-2 mx-5 font-medium font-['Roboto'] text-white items-center justify-center animate-border">
              <span>Gallery</span>
            </a>
            <a
              href="{% url 'about' %}"
              class="lg:inline-flex lg:w-auto w-full px-3 py-2 mx-5 font-medium font-['Roboto'] text-white items-center justify-center bord">
              <span>About</span>
            </a>
          </div>
        </div>
      </nav>
      <div
        id="headers_img"
        class="h-72 bg-no-repeat bg-cover bg-center flex justify-center items-center">
        <h2 class="text-white text-3xl font-bold">About Us</h2>
      </div>
    </header>
    <section class="container mx-auto rounded-3xl my-16">
      <div
        class="container p-2 flex flex-col sm:flex-row items-center mx-auto gap-8 sm:gap-28 justify-center w-full h-full">
        <img
          class="w-[240px] h-[240px] sm:w-[360px] sm:h-[358px] rounded-full"
          src="{% static 'img/logo.jpg' %}" />
        <span
          class="text-center text-black text-[20px] md:text-[32px] font-bold font-['Bahnschrift']"
          >Guardians of the Palawan Pangolin Guild  (GGPG)</span
        >
      </div>
    </section>

    <section class="container mx-auto rounded-3xl my-20 shadow-lg bg-[#3f0703]">
      <div class="container mx-auto flex flex-wrap justify-center gap-20 p-12">
        <div class="text-content w-full p-6 text-white">
          <h2
            class="text-left text-2xl md:text-3xl capitalize font-extrabold leading-tight text-dark-grey-900 font-['Bahnschrift'] mb-5">
            History
          </h2>
          <p
            class="text-left text-lg md:text-xl font-medium leading-7 font-['Roboto']">
            The Guardians of the Palawan Pangolin Guild was conceptualized last
            February 15, 2023 (Wednesday), timely the celebration of 2nd World
            Pangolin Day here in Palawan State University. This student
            organization is the first student organization here in the
            university as species-specific. It aims to promote and support the
            conservation of the Palawan pangolin (Manis culionensis), and
            integrating advance researches in the protection and conservation
            efforts through empowering the community in the development and
            promotion of critical research studies and innovation with
            attainable projects and programs, hosting environmentally-activities
            incorporating various fields of expertise. Also, the community will
            be enlightened on the importance of existence, biology and ecology
            of Palawan pangolin as well as other endemic fauna species of the
            province of Palawan. Through this organization, it will bridge gaps
            between different sectors of the community through student
            collaboration in promoting intensive Information, Education, and
            Communication endeavors.
          </p>
        </div>
      </div>
    </section>
    <section class="container mx-auto rounded-3xl my-10">
      <div
        class="container mx-auto flex flex-wrap justify-center gap-10 flex-row">
        <div
          class="flex h-fit flex-col md:flex-row justify-center w-max gap-10 md:gap-24">
          <div class="md:w-2/5 p-10 px-16 text-black shadow-lg rounded-2xl">
            <h2
              class="text-center text-2xl md:text-3xl capitalize font-extrabold leading-tight text-dark-grey-900 font-['Bahnschrift'] mb-5">
              Our vision
            </h2>
            <p class="text-left text-lg md:text-xl font-medium font-['Roboto']">
              The Guardians of the Palawan Pangolin Guild (GPPG) is a university
              wide organization that bolster collaboration between different
              sectors of the community in promoting intensive information,
              education, and communication endeavors.
            </p>
          </div>
          <div
            class="md:w-2/5 h-fit p-10 px-16 text-black shadow-lg rounded-2xl">
            <h2
              class="text-center text-2xl md:text-3xl capitalize font-extrabold leading-tight text-dark-grey-900 font-['Bahnschrift'] mb-5">
              Our mission
            </h2>
            <p class="text-left text-lg md:text-xl font-medium font-['Roboto']">
              The Guardians of the Palawan Pangolin Guild (GPPG) promotes and
              support the conservation of the Palawan pangolin (Manis
              culionensis), integrating advance researches in the protection and
              conservation efforts of Palawan as well as other endemic fauna
              species of the province.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="container mx-auto rounded-3xl my-20 shadow-lg bg-[#3f0703]">
      <div class="container mx-auto flex flex-wrap justify-center gap-20 p-12">
        <div class="text-content w-full p-6 text-white">
          <h2
            class="text-center text-2xl md:text-3xl capitalize font-extrabold leading-tight text-dark-grey-900 font-['Bahnschrift'] mb-5">
            History
          </h2>
          <div>
            <h2
              class="text-left text-xl md:text-2xl capitalize font-extrabold leading-tight text-dark-grey-900 font-['Bahnschrift'] mb-5">
              Objective 1
            </h2>
            <p
              class="text-left text-lg md:text-xl font-medium leading-7 font-['Roboto']">
              To raise awareness on the existence, biology and ecology of this
              endemic mammal and other endemic fauna of Palawan province.
            </p>
          </div>
          <hr class="h-px my-8 bg-white/50 border-0" />
          <div>
            <h2
              class="text-left text-xl md:text-2xl capitalize font-extrabold leading-tight text-dark-grey-900 font-['Bahnschrift'] mb-5">
              Objective 2
            </h2>
            <p
              class="text-left text-lg md:text-xl font-medium leading-7 font-['Roboto']">
              To conduct collaborative researches and other environmental
              related activities on Palawan pangolin and other endemic fauna of
              the province.
            </p>
          </div>
          <hr class="h-px my-8 bg-white/50 border-0" />
          <div>
            <h2
              class="text-left text-xl md:text-2xl capitalize font-extrabold leading-tight text-dark-grey-900 font-['Bahnschrift'] mb-5">
              Objective 3
            </h2>
            <p
              class="text-left text-lg md:text-xl font-medium leading-7 font-['Roboto']">
              To be guardians of Palawan pangolin.
            </p>
          </div>
          <hr class="h-px my-8 bg-white/50 border-0" />
        </div>
      </div>
    </section>
    {% include 'includes/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.5.0/dist/alpine.min.js"></script>
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
  </body>
</html>
