{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GPPG</title>
    <link rel="icon" href="{% static 'img/logo.jpg' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static "main.css" %}"> <link
    rel="stylesheet" href="{% static "style.css" %}">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap"
      rel="stylesheet" />
    <link
      href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  </head>
  <body class="bg-[#eaebe6]">
    <div
      id="header_img"
      class="h-screen bg-cover bg-no-repeat bg-center items-center">
      <nav class="flex items-center bg-yellow-2 p-3 flex-wrap">
        <a href="{% url 'home' %}" class="p-2 mr-4 inline-flex items-center">
          <img
            class="w-[55px] h-[54px] rounded-[172px]"
            src="{% static 'img/logo.jpg' %}" />
          <span
            class="xl:block hidden mx-2 text-center text-white text-xl font-normal font-['Bahnschrift']"
            >Guardians of the Palawan Pangolin Guild</span
          >
        </a>
        <button
          class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler"
          data-target="#navigation">
          <i class="material-icons">menu</i>
        </button>
        <div
          class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto"
          id="navigation">
          <div
            class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start flex flex-col lg:h-auto">
            <a
              href="#"
              class="lg:inline-flex lg:w-auto w-full px-3 py-2 mx-5 font-medium font-['Roboto'] text-white items-center justify-center animate-border">
              <span>Home</span>
            </a>
            <a
              href="#"
              class="lg:inline-flex lg:w-auto w-full px-3 py-2 mx-5 font-medium font-['Roboto'] text-white items-center justify-center animate-border">
              <span>Trend</span>
            </a>
            <a
              href="#"
              class="lg:inline-flex lg:w-auto w-full px-3 py-2 mx-5 font-medium font-['Roboto'] text-white items-center justify-center animate-border">
              <span>Map</span>
            </a>
            <a
              href="{% url 'activities' %}"
              class="lg:inline-flex lg:w-auto w-full px-3 py-2 mx-5 font-medium font-['Roboto'] text-white items-center justify-center animate-border">
              <span>Activities</span>
            </a>
            <a
              href="{% url 'gallery' %}"
              class="lg:inline-flex lg:w-auto w-full px-3 py-2 mx-5 font-medium font-['Roboto'] text-white items-center justify-center animate-border">
              <span>Gallery</span>
            </a>
            <a
              href="{% url 'about' %}"
              class="lg:inline-flex lg:w-auto w-full px-3 py-2 mx-5 font-medium font-['Roboto'] text-white items-center justify-center animate-border">
              <span>About</span>
            </a>
          </div>
        </div>
      </nav>
    </div>

    <section id="content" class="container mx-auto rounded-3xl my-10 shadow-lg">
      <div class="container flex flex-col mx-auto rounded-lg pt-12 pb-12 my-5">
        <div class="container flex flex-col items-center gap-16 mx-auto">
          <div class="flex flex-col gap-7">
            <div
              class="flex flex-col gap-5 px-6 text-center w-10/12 mx-auto justify-start">
              <h2
                class="text-4xl md:text-5xl capitalize font-extrabold leading-tight font-['Bahnschrift']">
                What is a Palawan pangolin?
              </h2>
              <p
                class="text-left text-lg md:text-lg font-normal leading-7 font-['Roboto']">
                The Philippine pangolin or Palawan pangolin (<i
                  >Manis culionensis</i
                > ), also locally known as balintong, is a pangolin species
                endemic to the Palawan province of the Philippines. Its habitat
                includes primary and secondary forests, as well as surrounding
                grasslands. This species is moderately common within its limited
                range, but is at risk due to heavy hunting because of its valued
                scales and meat. This species is distinguished from the closely
                related Sunda pangolin by its smaller body-to-tail ratio,
                smaller scales, and a shorter head. It is listed as Critically
                Endangered by the IUCN, and Critically Endangered by the Palawan
                Council for Sustainable Development (PCSD).
              </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mt-10 w-full">
              <div
                class="stat-box relative w-full h-[155.65px] flex flex-col items-center">
                <span
                  class="text-[40px] md:text-[60px] font-bold font-['Bahnschrift']"
                  >34-kg</span
                >
                <span
                  class="text-[20px] md:text-[25px] font-normal font-['Bahnschrift']"
                  >pangolins weight</span
                >
              </div>
              <div
                class="stat-box relative w-full h-[174px] flex flex-col items-center">
                <span
                  class="text-[40px] md:text-[60px] font-bold font-['Bahnschrift']"
                  >10-35 in</span
                >
                <span
                  class="text-[20px] md:text-[25px] font-normal font-['Bahnschrift']"
                  >pangolins length head to tail</span
                >
              </div>
              <div
                class="stat-box relative w-full h-[222px] flex flex-col items-center">
                <span
                  class="text-[40px] md:text-[60px] font-bold font-['Bahnschrift']"
                  >70-million</span
                >
                <span
                  class="text-[20px] md:text-[25px] font-normal font-['Bahnschrift']"
                  >insects each year eat by pangolin</span
                >
              </div>
              <div
                class="stat-box relative w-full h-[143px] flex flex-col items-center">
                <span
                  class="text-[40px] md:text-[60px] font-bold font-['Bahnschrift']"
                  >20-years</span
                >
                <span
                  class="text-[20px] md:text-[25px] font-normal font-['Bahnschrift']"
                  >life span of pangolin</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="content" class="container mx-auto rounded-3xl my-10 shadow-lg">
      <div class="container mx-auto flex flex-wrap justify-center gap-10 p-6">
        <div class="container mx-auto flex flex-wrap justify-center gap-10 p-6">
          <div class="text-content w-full md:w-1/2 p-6">
            <h2
              class="text-left text-4xl md:text-5xl capitalize font-extrabold leading-tight text-dark-grey-900 font-['Bahnschrift'] mb-5">
              Appearance
            </h2>
            <p
              class="text-left text-lg md:text-lg font-normal leading-7 font-['Roboto']">
              The Philippine pangolin is a medium-sized mammal covered in small
              triangular scales made of keratin everywhere except the underbelly
              and face. It regrows new scales when they are lost and always has
              the same number of scales throughout its lifespan. The scales come
              in shades of brown, yellow, and olive, making for adequate
              camouflage at night. Areas of the body without scales are covered
              in a layer of hair.
            </p>
          </div>

          <div
            class="image-content w-full md:w-1/4 flex justify-center items-center">
            <img src="{% static "img/pango3.jpg" %}" alt="Sample Image"
            class="max-w-full h-auto border border-gray-300 rounded-lg
            shadow-lg" />
          </div>
        </div>
        <hr
          class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-1 dark:bg-gray-700" />
        <div class="container mx-auto flex flex-wrap justify-center gap-10 p-6">
          <div class="image-content md:w-1/4 flex justify-center items-center">
            <img src="{% static "img/pango4.jpg" %}" alt="Sample Image"
            class="max-w-full h-auto border border-gray-300 rounded-lg
            shadow-lg" />
          </div>
          <div class="text-content w-full md:w-1/2 p-6">
            <h2
              class="text-left text-4xl md:text-5xl capitalize font-extrabold leading-tight font-['Bahnschrift'] mb-5">
              Habits and Lifestyle
            </h2>
            <p
              class="text-left text-lg md:text-lg font-normal leading-7 font-['Roboto']">
              Philippine pangolins are nocturnal and reclusive and are usually
              seen singly or in pairs. Because they are mainly active at night,
              their eyesight is below average. While their hearing is still only
              about average, they make up for their lack of vision with their
              extraordinary sense of smell. Pangolins generally travel slowly
              but can move in a short burst towards safety when they become
              startled, and even have a limited ability to swim. Occasionally,
              these animals can be seen standing on their hind legs, balancing
              on their tail, to help detect nearby predators.
            </p>
          </div>
        </div>
        <hr
          class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-1 dark:bg-gray-700" />
        <div class="container mx-auto flex flex-wrap justify-center gap-10 p-6">
          <div class="text-content w-full md:w-1/2 p-6">
            <h2
              class="text-left text-4xl md:text-5xl capitalize font-extrabold leading-tight text-dark-grey-900 font-['Bahnschrift'] mb-5">
              Diet and Nutrition
            </h2>
            <p
              class="text-left text-lg md:text-lg font-normal leading-7 font-['Roboto']">
              Philippine pangolins are carnivores (insectivores), more
              specifically myrmecophages. They feed mainly on termites and ants
              and will also consume other insects.
            </p>
          </div>

          <div
            class="image-content w-full md:w-1/4 flex justify-center items-center">
            <img src="{% static "img/pango6.jpg" %}" alt="Sample Image"
            class="max-w-full h-auto border border-gray-300 rounded-lg
            shadow-lg" />
          </div>
        </div>
      </div>
    </section>
    <section
      id="content"
      class="container mx-auto rounded-3xl my-10 0 shadow-lg">
      <div class="container mx-auto flex flex-wrap justify-center gap-10 p-6">
        <div class="text-content w-full md:w-10/12 p-6">
          <h2
            class="text-center text-4xl md:text-5xl capitalize font-extrabold leading-tight font-['Bahnschrift'] mb-8">
            Mating Habits
          </h2>

          <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-center mb-8">
            <div>
              <span
                class="text-black text-xl font-bold font-['Bahnschrift'] leading-[30px]"
                >REPRODUCTION SEASON<br
              /></span>
              <span
                class="text-black text-xl font-normal font-['Roboto'] leading-[30px]"
                >spring</span
              >
            </div>

            <div>
              <span
                class="text-black text-xl font-bold font-['Bahnschrift'] leading-[30px]"
                >BABY NAME<br
              /></span>
              <span
                class="text-black text-xl font-normal font-['Roboto'] leading-[30px]"
                >pangopup</span
              >
            </div>

            <div>
              <span
                class="text-black text-xl font-bold font-['Bahnschrift'] leading-[30px]"
                >PREGNANCY DURATION<br
              /></span>
              <span
                class="text-black text-xl font-normal font-['Roboto'] leading-[30px]"
                >18 weeks</span
              >
            </div>

            <div>
              <span
                class="text-black text-xl font-bold font-['Bahnschrift'] leading-[30px]"
                >BABY CARRYING<br
              /></span>
              <span
                class="text-black text-xl font-normal font-['Roboto'] leading-[30px]"
                >1 pangopup</span
              >
            </div>
            <div>
              <span
                class="text-black text-xl font-bold font-['Bahnschrift'] leading-[30px]"
                >INDEPENDENT AGE<br
              /></span>
              <span
                class="text-black text-xl font-normal font-['Roboto'] leading-[30px]"
                >5 months</span
              >
            </div>
          </div>
          <p
            class="text-left text-lg md:text-lg font-normal leading-7 text-black font-['Roboto']">
            While little is known about the reproduction of Philippine
            pangolins, their mating habits are thought to be similar to those of
            the Sunda pangolin. Like most pangolins, Philippine pangolins breed
            in the spring. The same odorous secretion used as a self-defense
            mechanism is also used by males to assert against other males,
            attract a mate, and is used by the mother while raising their young.
            Baby pangolins, called pangopups, are born after a gestation period
            of around 18 weeks and are suckled by their mothers for about 4
            months. Usually, only one offspring is born at once, and they are
            carried around on the mother's back for a time. When sleeping or
            threatened, the mother tends to roll in a ball for defense like
            usual, but with the young cradled in a ball of their own,
            encompassed in the mother's ball. At the age of about 5 months,
            pangopups will separate from their mother. Female pangolins may even
            adopt lone young that have lost their own mother.
          </p>
        </div>
      </div>
    </section>

    <section class="w-full my-10 border">
      <div class="container mx-auto p-6 h-fit">
        <!-- Carousel Container -->
        <h2
          class="text-center sm:text-left text-2xl md:text-3xl capitalize font-extrabold leading-tight font-['Bahnschrift'] my-8">
          Here’s the other pangolins
        </h2>
        <div
          id="carousel-container"
          class="relative flex items-center justify-center pb-5">
          <!-- Cards Wrapper -->
          <div class="flex overflow-hidden gap-5">
            <!-- First Card Pair -->
            <div
              class="carousel-pair flex rounded-xl image-content w-50 md:w-2/3 justify-center items-center mx-10 md:ml-10 md:mx-auto overflow-hidden">
              <section
                class="w-full border border-gray-300 shadow-lg rounded-xl md:w-[700px] lg:h-[350px]">
                <div class="container mx-auto flex flex-wrap">
                  <div
                    class="w-full h-[250px] lg:w-2/5 mb-5 lg:mb-0 overflow-hidden rounded-xl object-cover lg:h-[350px]">
                    <img alt="feature" class="object-cover object-center h-full
                    w-full " src="{% static "img/pango3.jpg" %}" />
                  </div>
                  <div
                    class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
                    <div
                      class="flex flex-col mb-10 lg:items-start items-center">
                      <div class="flex-grow">
                        <h2
                          class="text-gray-900 text-lg title-font font-medium mb-3">
                          Ground pangolin
                        </h2>
                        <div
                          class="mt-4 text-[#68717a] text-sm space-y-2 text-left mx-3">
                          <p>
                            <span class="font-bold">Known as:</span> Temminck's
                            Pangolin, Cape Pangolin
                          </p>
                          <p>
                            <span class="font-bold">Scientific Name:</span>
                            Smutsia temminckii
                          </p>
                          <p>
                            <span class="font-bold">Location:</span> Southern
                            and Eastern Africa
                          </p>
                          <p>
                            <span class="font-bold">Unique Feature:</span>
                            Tough, overlapping scales provide armor-like
                            protection
                          </p>
                          <p>
                            <span class="font-bold">Diet:</span> Ants and
                            termites
                          </p>
                          <p>
                            <span class="font-bold">Behavior:</span> Solitary
                            and nocturnal (active at night), excellent burrowers
                          </p>
                        </div>
                        <a
                          class="mt-3 text-gray-500 inline-flex items-center pb-3 underline"
                          >More
                          <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            class="w-4 h-4 ml-2"
                            viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <!-- Second card -->
            <div
              class="hidden md:flex rounded-xl image-content w-50 md:w-2/3 justify-center items-center mx-auto overflow-hidden mr-10">
              <section
                class="w-full border border-gray-300 shadow-lg rounded-xl md:w-[700px] lg:h-[350px]">
                <div class="container mx-auto flex flex-wrap">
                  <div
                    class="w-full h-[250px] lg:w-2/5 mb-5 lg:mb-0 overflow-hidden rounded-xl object-cover lg:h-[350px]">
                    <img alt="feature" class="object-cover object-center h-full
                    w-full " src="{% static "img/pango3.jpg" %}" />
                  </div>
                  <div
                    class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
                    <div
                      class="flex flex-col mb-10 lg:items-start items-center">
                      <div class="flex-grow">
                        <h2
                          class="text-gray-900 text-lg title-font font-medium mb-3">
                          Ground pangolin
                        </h2>
                        <div
                          class="mt-4 text-[#68717a] text-sm space-y-2 text-left mx-3">
                          <p>
                            <span class="font-bold">Known as:</span> Temminck's
                            Pangolin, Cape Pangolin
                          </p>
                          <p>
                            <span class="font-bold">Scientific Name:</span>
                            Smutsia temminckii
                          </p>
                          <p>
                            <span class="font-bold">Location:</span> Southern
                            and Eastern Africa
                          </p>
                          <p>
                            <span class="font-bold">Unique Feature:</span>
                            Tough, overlapping scales provide armor-like
                            protection
                          </p>
                          <p>
                            <span class="font-bold">Diet:</span> Ants and
                            termites
                          </p>
                          <p>
                            <span class="font-bold">Behavior:</span> Solitary
                            and nocturnal (active at night), excellent burrowers
                          </p>
                        </div>
                        <a
                          class="mt-3 text-gray-500 inline-flex items-center pb-3 underline"
                          >More
                          <svg
                            fill="none"
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            class="w-4 h-4 ml-2"
                            viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <button
            id="prev-btn"
            class="absolute left-0 opacity-50 hover:opacity-100 p-2 rounded-full transition-opacity duration-300 ease-in-out">
            <svg
              class="dark:text-neutral-900"
              width="25"
              height="35"
              viewBox="0 0 8 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7 1L1 7L7 13"
                stroke="currentColor"
                stroke-width="0.5"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
          <!-- Next Button -->
          <button
            id="next-btn"
            class="absolute right-0 opacity-50 hover:opacity-100 p-2 rounded-full transition-opacity duration-300 ease-in-out">
            <svg
              class="dark:text-neutral-900"
              width="25"
              height="35"
              viewBox="0 0 8 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M1 1L7 7L1 13"
                stroke="currentColor"
                stroke-width="0.5"
                stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </button>
        </div>
      </div>
    </section>
    {% include 'includes/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.5.0/dist/alpine.min.js"></script>
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
  </body>
</html>
