{% load static %} {% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}GPPG{% endblock title %}</title>
    <link
      rel="icon"
      href="{% static 'img/logo.jpg' %}"
      type="image/x-icon" />
    <link rel="stylesheet" href="{% static "css/main.css" %}"> <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap"
      rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
    <link
      href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css"
      rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  </head>
  <body>
    <div class="flex items-center justify-center h-screen bg-gray-100">
      <div class="flex md:w-1/2 w-3/4 h-full rounded-3xl">
        <div class="flip-card">
          <!-- signin -->
          <div
            id="contain"
            class="flip-card-front flex items-center justify-center h-auto absolute top-44 left-0 rounded-3xl">
            <!-- Left section with logo -->
            <div class="hidden xl:flex w-1/2 items-center justify-center p-10">
              <img
                src="{% static 'img/logo.jpg' %}"
                alt="Logo"
                class="w-48 h-48 2xl:w-80 2xl:h-80 rounded-full"
                oncontextmenu="return false;"
                draggable="false" />
            </div>
            <!-- Right section with login form -->
            <div class="w-full xl:w-1/2 p-10 bg-white rounded-3xl">
              <div class="flex flex-col items-center">
                <img
                  src="{% static 'img/pangolin_icon.png' %}"
                  alt="Logo"
                  class="w-16 h-16"
                  oncontextmenu="return false;"
                  draggable="false" />
                <h2 class="text-3xl font-bold mb-4 text-gray-800">Log in</h2>
                <p class="text-gray-600 mb-6">Welcome Back!</p>
              </div>

              <!-- Email input -->
              <div class="mb-4">
                <label
                  for="email"
                  class="block text-sm font-medium text-gray-700"
                  >Email</label
                >
                <input
                  id="email"
                  type="email"
                  placeholder="Email"
                  class="w-full px-4 py-2 mt-2 border-b-2 focus:outline-none duration-300 focus-within:border-indigo-500" />
              </div>

              <!-- Password input -->
              <div class="mb-4">
                <label
                  for="password"
                  class="block text-sm font-medium text-gray-700"
                  >Password</label
                >
                <input
                  id="password"
                  type="password"
                  placeholder="Password"
                  class="w-full px-4 py-2 mt-2 border-b-2 focus:outline-none duration-300 focus-within:border-indigo-500" />
              </div>

              <!-- Forgot password link -->
              <div class="flex justify-between items-center mb-4">
                <a
                  href="#"
                  class="text-sm text-red-500 hover:underline"
                  >Forgot your password?</a
                >
              </div>

              <!-- Submit button -->
              <button class="w-full bg-black text-white py-2 px-4 rounded-lg hover:bg-gray-900 transition duration-300">Submit</button>

              <!-- Sign up link -->
              <p class="mt-4 text-sm text-center text-gray-600">
                Don't have an account?
                <a
                  href="#"
                  class="text-red-500 hover:underline"
                  id="flipToSignup"
                  >Sign up</a
                >
              </p>
            </div>
          </div>

          <!-- signup -->
          <div class="flip-card-back flex items-center justify-center absolute top-0 left-0">
            <div class="w-full p-10 bg-white rounded-3xl">
              <div class="flex flex-col items-center">
                <img
                  src="{% static 'img/pangolin_icon.png' %}"
                  alt="Logo"
                  class="w-16 h-16"
                  oncontextmenu="return false;"
                  draggable="false" />
                <h2 class="text-3xl font-bold mb-4 text-gray-800">Sign Up</h2>
                <p class="text-gray-600 mb-6">Join us today!</p>
              </div>

              <div class="xl:flex-row flex mx-3 gap-5 flex-col">
                <div class="xl:w-1/2 w-full">
                  <label
                    for=""
                    class="block text-sm font-medium text-gray-700"
                    >First name</label
                  >
                  <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-account-outline text-gray-400 text-lg"></i></div>
                    <input
                      type="text"
                      class="w-full -ml-10 pl-10 pr-3 py-2 border-b-2 border-gray-200 outline-none focus:border-indigo-500"
                      placeholder="Nick" />
                  </div>
                </div>

                <div class="xl:w-1/2 w-full mb-5">
                  <label
                    for=""
                    class="block text-sm font-medium text-gray-700"
                    >Last name</label
                  >
                  <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-account-outline text-gray-400 text-lg"></i></div>
                    <input
                      type="text"
                      class="w-full -ml-10 pl-10 pr-3 py-2 border-b-2 border-gray-200 outline-none focus:border-indigo-500"
                      placeholder="Bundal" />
                  </div>
                </div>
              </div>
              <div class="flex">
                <div class="w-full px-3 mb-5">
                  <label
                    for=""
                    class="block text-sm font-medium text-gray-700"
                    >Email</label
                  >
                  <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-email-outline text-gray-400 text-lg"></i></div>
                    <input
                      type="email"
                      class="w-full -ml-10 pl-10 pr-3 py-2 border-b-2 border-gray-200 outline-none focus:border-indigo-500"
                      placeholder="nickbundal@gmal.com" />
                  </div>
                </div>
              </div>
              <div class="flex">
                <div class="w-full px-3 mb-12">
                  <label
                    for=""
                    class="block text-sm font-medium text-gray-700"
                    >Password</label
                  >
                  <div class="flex">
                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="mdi mdi-lock-outline text-gray-400 text-lg"></i></div>
                    <input
                      type="password"
                      class="w-full -ml-10 pl-10 pr-3 py-2 border-b-2 border-gray-200 outline-none focus:border-indigo-500"
                      placeholder="************" />
                  </div>
                </div>
              </div>

              <button class="w-full bg-black text-white py-2 px-4 rounded-lg hover:bg-gray-900 transition duration-300">Sign Up</button>

              <p class="mt-4 text-sm text-center text-gray-600">
                Already have an account?
                <a
                  href="#"
                  class="text-red-500 hover:underline"
                  id="flipToSignin"
                  >Log in</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="{% static 'js/flip.js' %}"
      defer
      type="text/javascript"></script>
  </body>
</html>
