{% load static %}


<div id="editincident" class="modal-content"> 
  <form
    hx-post="{% url 'admin_incident_edit' incident.id %}"
    hx-target="#modal-content"
    novalidate>
    {% csrf_token %} 
    <div class="grid grid-cols-2 gap-4">
      <div>
          <label class="block text-sm font-medium text-gray-700">
              {{ form.municipality.label_tag }}
              {% if form.municipality.errors %}
                <div class="text-red-600">{{ form.municipality.errors }}</div>
              {% endif %}
          </label>
          {{ form.municipality }}
      </div>
      <div>
          <label class="block text-sm font-medium text-gray-700">
              {{ form.city.label_tag }}
              {% if form.city.errors %}
                <div class="text-red-600">{{ form.city.errors }}</div>
              {% endif %}
          </label>
          {{ form.city }}
      </div>

      <div>
          <label class="block text-sm font-medium text-gray-700">
              {{ form.status.label_tag }}
              {% if form.status.errors %}
                <div class="text-red-600">{{ form.status.errors }}</div>
              {% endif %}
          </label>
          {{ form.status }}
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">
            {{ form.date_reported.label_tag }}
            {% if form.date_reported.errors %}
              <div class="text-red-600">{{ form.date_reported.errors }}</div>
            {% endif %}
        </label>
        {{ form.date_reported }}
    </div>

  </div>

  <div>
    <label class="block text-sm font-medium text-gray-700">
        {{ form.description.label_tag }}
        {% if form.description.errors %}
                <div class="text-red-600">{{ form.description.errors }}</div>
              {% endif %}
    </label>
    {{ form.description }}
  </div>

    <br>
    <button
          type="submit"
          class="text-black mr-2 inline-flex items-center border font-medium rounded-lg text-sm px-5 py-2.5 text-center">
          Save Changes
        </button
        ><button
          type="button"
          onclick="window.location.reload();"
          class="text-red-700 inline-flex items-center hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
          Discard changes
      </button>
  
  </form>
</div>



