{% extends "private/index.html" %} {% load static %} {% block title %}GPPG - Activities{% endblock title %}
<header>
  {% block nav %} {% include 'private/includes/nav.html' %}
  <div class="container flex flex-col m-5 mt-8 ml-16">
    <h2 class="text-xl font-bold">Activities</h2>
  </div>
  {% endblock nav %}
</header>
{% block content %}
<section class="mx-16 h-fit">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4">
    <div class="overflow-hidden rounded-xl group bg-white shadow-lg">
      <img
        src="{% static 'img/pango1.jpg' %}"
        alt="Image 1"
        class="w-full h-60 object-cover"
        onclick="openModal(this)"
        oncontextmenu="return false;"
        draggable="false" />
      <p
        style
        class="text-left m-5 text-black text-base font-semibold font-['Bahnschrift']">
        Awarding for "Best Booths”. "Most Recruited Organization award"
      </p>
    </div>
    <div class="overflow-hidden rounded-xl group bg-white shadow-lg">
      <img
        src="{% static 'img/pango1.jpg' %}"
        alt="Image 1"
        class="w-full h-60 object-cover"
        onclick="openModal(this)"
        oncontextmenu="return false;"
        draggable="false" />
      <p
        style
        class="text-left m-5 text-black text-base font-semibold font-['Bahnschrift']">
        Awarding for "Best Booths”. "Most Recruited Organization award"
      </p>
    </div>
    <div class="overflow-hidden rounded-xl group bg-white shadow-lg">
      <img
        src="{% static 'img/pango1.jpg' %}"
        alt="Image 1"
        class="w-full h-60 object-cover"
        onclick="openModal(this)"
        oncontextmenu="return false;"
        draggable="false" />
      <p
        style
        class="text-left m-5 text-black text-base font-semibold font-['Bahnschrift']">
        Awarding for "Best Booths”. "Most Recruited Organization award"
      </p>
    </div>
    <div class="overflow-hidden rounded-xl group bg-white shadow-lg">
      <img
        src="{% static 'img/pango1.jpg' %}"
        alt="Image 1"
        class="w-full h-60 object-cover"
        onclick="openModal(this)"
        oncontextmenu="return false;"
        draggable="false" />
      <p
        style
        class="text-left m-5 text-black text-base font-semibold font-['Bahnschrift']">
        Awarding for "Best Booths”. "Most Recruited Organization award"
      </p>
    </div>
    <div class="overflow-hidden rounded-xl group bg-white shadow-lg">
      <img
        src="{% static 'img/pango1.jpg' %}"
        alt="Image 1"
        class="w-full h-60 object-cover"
        onclick="openModal(this)"
        oncontextmenu="return false;"
        draggable="false" />
      <p
        style
        class="text-left m-5 text-black text-base font-semibold font-['Bahnschrift']">
        Awarding for "Best Booths”. "Most Recruited Organization award"
      </p>
    </div>
  </div>
</section>

<section class="rounded-3xl my-10 shadow-lg mx-16 h-fit overflow-hidden">
  <div class="mx-auto flex flex-wrap justify-center">
    <div class="mx-auto flex flex-wrap md:flex-nowrap justify-center gap-10 p-6 bg-[#3f0703] py-16">
      <!-- Text content -->
      <div class="text-content w-full md:w-1/2 p-6 text-white">
        <h2 class="text-left text-4xl md:text-5xl capitalize font-extrabold leading-tight text-dark-grey-900 font-['Bahnschrift'] mb-5">Appearance</h2>
        <p class="text-left text-lg md:text-lg font-normal leading-7 font-['Roboto']">
          The Philippine pangolin is a medium-sized mammal covered in small triangular scales made of keratin everywhere except the underbelly and face. It regrows new scales when they are lost and
          always has the same number of scales throughout its lifespan. The scales come in shades of brown, yellow, and olive, making for adequate camouflage at night. Areas of the body without scales
          are covered in a layer of hair.
        </p>
      </div>

      <!-- Image content -->
      <div class="image-content w-full md:w-1/4 flex justify-center items-center md:order-last order-first">
        <img
          src="{% static 'img/pango3.jpg' %}"
          alt="Sample Image"
          class="max-w-full h-auto rounded-lg shadow-lg" />
      </div>
    </div>

    <div class="mx-auto flex flex-wrap justify-center gap-10 p-6 bg-[#3f0703] py-16">
      <div class="image-content w-full md:w-1/4 flex justify-center items-center"><img src="{% static "img/pango3.jpg" %}" alt="Sample Image" class="max-w-full h-auto rounded-lg shadow-lg" /></div>
      <div class="text-content w-full md:w-1/2 p-6 text-white">
        <h2 class="text-left text-4xl md:text-5xl capitalize font-extrabold leading-tight text-dark-grey-900 font-['Bahnschrift'] mb-5">Appearance</h2>
        <p class="text-left text-lg md:text-lg font-normal leading-7 font-['Roboto']">
          The Philippine pangolin is a medium-sized mammal covered in small triangular scales made of keratin everywhere except the underbelly and face. It regrows new scales when they are lost and
          always has the same number of scales throughout its lifespan. The scales come in shades of brown, yellow, and olive, making for adequate camouflage at night. Areas of the body without scales
          are covered in a layer of hair.
        </p>
      </div>
    </div>
    <div class="mx-auto flex flex-wrap md:flex-nowrap justify-center gap-10 p-6 bg-[#3f0703] py-16">
      <!-- Text content -->
      <div class="text-content w-full md:w-1/2 p-6 text-white">
        <h2 class="text-left text-4xl md:text-5xl capitalize font-extrabold leading-tight text-dark-grey-900 font-['Bahnschrift'] mb-5">Appearance</h2>
        <p class="text-left text-lg md:text-lg font-normal leading-7 font-['Roboto']">
          The Philippine pangolin is a medium-sized mammal covered in small triangular scales made of keratin everywhere except the underbelly and face. It regrows new scales when they are lost and
          always has the same number of scales throughout its lifespan. The scales come in shades of brown, yellow, and olive, making for adequate camouflage at night. Areas of the body without scales
          are covered in a layer of hair.
        </p>
      </div>

      <!-- Image content -->
      <div class="image-content w-full md:w-1/4 flex justify-center items-center md:order-last order-first">
        <img
          src="{% static 'img/pango3.jpg' %}"
          alt="Sample Image"
          class="max-w-full h-auto rounded-lg shadow-lg" />
      </div>
    </div>
    <div class="mx-auto flex flex-wrap justify-center gap-10 p-6 bg-[#3f0703] py-16">
      <div class="image-content w-full md:w-1/4 flex justify-center items-center"><img src="{% static "img/pango3.jpg" %}" alt="Sample Image" class="max-w-full h-auto rounded-lg shadow-lg" /></div>
      <div class="text-content w-full md:w-1/2 p-6 text-white">
        <h2 class="text-left text-4xl md:text-5xl capitalize font-extrabold leading-tight text-dark-grey-900 font-['Bahnschrift'] mb-5">Appearance</h2>
        <p class="text-left text-lg md:text-lg font-normal leading-7 font-['Roboto']">
          The Philippine pangolin is a medium-sized mammal covered in small triangular scales made of keratin everywhere except the underbelly and face. It regrows new scales when they are lost and
          always has the same number of scales throughout its lifespan. The scales come in shades of brown, yellow, and olive, making for adequate camouflage at night. Areas of the body without scales
          are covered in a layer of hair.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
