{% load static %} {% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}GPPG{% endblock title %}</title>
    <link
      rel="icon"
      href="{% static 'img/logo.jpg' %}"
      type="image/x-icon" />
    <link rel="stylesheet" href="{% static "css/main.css" %}"> <link rel="stylesheet" href="{% static "css/style.css" %}"> <link rel="stylesheet" href="{% static "css/min.css" %}">
    <!--  -->
    {% block css %} {% endblock css%}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous" />
  </head>
  <body class="bg-slate-50">
    {% block nav %}
    <div
      id="header_img"
      class="h-screen bg-cover bg-no-repeat bg-center items-center">
      <div class="w-full text-gray-700 bg-transparent dark-mode:text-gray-200 dark-mode:bg-gray-800 h-screen bg-cover bg-no-repeat bg-center items-center">
        <div
          x-data="{ open: false }"
          class="flex flex-col px-4 mx-auto md:items-center md:justify-between md:flex-row lg:px-2 w-full">
          <div class="flex-row justify-between flex items-center bg-yellow-2 p-3 flex-wrap w-1/2">
            <a
              href="{% url 'home' %}"
              class="p-2 mr-4 inline-flex items-center">
              <img
                class="w-[55px] h-[54px] rounded-[172px]"
                src="{% static 'img/logo.jpg' %}" />
              <span class="2xl:block hidden mx-2 text-center text-white text-xl font-normal font-['Bahnschrift']">Guardians of the Palawan Pangolin Guild</span>
            </a>
            <button
              type="button"
              @click="open = !open"
              class="md:hidden hs-collapse-toggle absolute right-20 size-7 flex justify-center items-center gap-x-2 rounded-lg"
              id="hs-navbar-example-collapse"
              aria-expanded="false"
              aria-controls="hs-navbar-example"
              aria-label="Toggle navigation"
              data-hs-collapse="#hs-navbar-example">
              <svg
                class="hs-collapse-open:hidden shrink-0 size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                viewBox="0 0 24 24"
                fill="white"
                stroke="white"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round">
                <line
                  x1="3"
                  x2="21"
                  y1="6"
                  y2="6" />
                <line
                  x1="3"
                  x2="21"
                  y1="12"
                  y2="12" />
                <line
                  x1="3"
                  x2="21"
                  y1="18"
                  y2="18" />
              </svg>
              <svg
                class="hs-collapse-open:block hidden shrink-0 size-4"
                xmlns="http://www.w3.org/2000/svg"
                width="28"
                height="28"
                viewBox="0 0 24 24"
                fill="white"
                stroke="white"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M18 6 6 18" />
                <path d="m6 6 12 12" />
              </svg>
              <span class="sr-only">Toggle navigation</span>
            </button>
          </div>
          <div
            id="hs-navbar-example"
            :class="{'flex': open, 'hidden': !open}"
            class="hs-collapse overflow-hidden transition-all md:bg-opacity-0 justify-end duration-300 basis-full sm:block flex-col flex-grow md:w-1/2"
            aria-labelledby="hs-navbar-example-collapse">
            <div
              :class="{'flex': open, 'hidden': !open}"
              class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row xl:gap-5">
              <a
                class="font-medium focus:outline-none px-3 py-2 mx-2 font-['Roboto'] text-white animate-border"
                href="{% url 'home' %}"
                aria-current="page"
                >Home</a
              >
              <a
                class="font-medium focus:outline-none px-3 py-2 mx-2 font-['Roboto'] text-white animate-border"
                href="{% url 'trend' %}"
                aria-current="page"
                >Trend</a
              >
              <a
                class="font-medium focus:outline-none px-3 py-2 mx-2 font-['Roboto'] text-white animate-border"
                href="{% url 'maps' %}"
                aria-current="page"
                >Map</a
              ><a
                class="font-medium focus:outline-none px-3 py-2 mx-2 font-['Roboto'] text-white animate-border"
                href="{% url 'activities' %}"
                aria-current="page"
                >Activities</a
              >
              <a
                class="font-medium focus:outline-none px-3 py-2 mx-2 font-['Roboto'] text-white animate-border"
                href="{% url 'gallery' %}"
                aria-current="page"
                >Gallery</a
              >
              <div class="hs-dropdown [--strategy:static] sm:[--strategy:fixed] [--adaptive:none]">
                <button
                  id="hs-navbar-example-dropdown"
                  type="button"
                  class="hs-dropdown-toggle flex items-center w-full md:w-fit font-medium text-center focus:outline-none px-3 py-2 mx-2 font-['Roboto'] text-white animate-border"
                  aria-haspopup="menu"
                  aria-expanded="false"
                  aria-label="Mega Menu">
                  About
                  <svg
                    class="hs-dropdown-open:-rotate-180 sm:hs-dropdown-open:rotate-0 duration-300 ms-1 shrink-0 size-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="m6 9 6 6 6-6" />
                  </svg>
                </button>

                <div
                  class="hs-dropdown-menu transition-[opacity,margin] ease-in-out duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 sm:w-48 z-10 bg-white sm:shadow-md rounded-lg p-1 space-y-1 dark:bg-neutral-800 sm:dark:border dark:border-neutral-700 dark:divide-neutral-700 before:absolute top-full sm:border before:-top-5 before:start-0 before:w-full before:h-5 hidden"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="hs-navbar-example-dropdown">
                  <a
                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                    href="{% url 'officers' %}">
                    Officers
                  </a>

                  <a
                    class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300 dark:focus:bg-neutral-700 dark:focus:text-neutral-300"
                    href="{% url 'about' %}">
                    About Us
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="hs-dropdown [--strategy:fixed] overflow-hidden md:mx-2 absolute w-20 right-0 top-4 md:top-0 md:right-0 md:relative">
            <button
              id="hs-navbar-example-dropdown"
              type="button"
              class="hs-dropdown-toggle justify-center flex items-center w-full font-medium py-2"
              aria-haspopup="menu"
              aria-expanded="false"
              aria-label="Mega Menu">
              <img
                class="w-fit h-11 rounded-full mx-auto"
                src="{% static 'img/logo.jpg' %}" />
            </button>
            <div
              class="hs-dropdown-menu border-0 text-white transition-[opacity,margin] ease-in-out duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 w-48 z-10 bg-black bg-opacity-20 backdrop-blur-lg sm:shadow-md rounded-lg p-1 space-y-1 dark:bg-neutral-800 sm:dark:border dark:border-neutral-700 dark:divide-neutral-700 before:absolute top-full sm:border before:-top-5 before:start-0 before:w-full before:h-5 hidden"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="hs-navbar-example-dropdown">
              <div class="w-full h-fit py-2">
                <img
                  class="w-fit h-14 rounded-full mx-auto"
                  src="{% static 'img/logo.jpg' %}" />
                <p class="mt-2 text-center">Remark Timones</p>
              </div>
              <hr class="w-20 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700" />
              <a
                href="{% url 'account_view' %}"
                class="flex items-center gap-x-3.5 py-2 px-3 text-sm focus:outline-none hover:bg-gray-100 hover:text-black rounded-md">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  class="w-4 h-4"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"></path>
                  <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                  <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                </svg>
                <span>Account Settings</span>
              </a>
              <a
                href="{% url 'landing_page' %}"
                class="flex items-center w-full gap-x-3.5 py-2 px-3 text-sm focus:outline-none hover:bg-gray-100 hover:text-black rounded-md">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  class="w-4 h-4"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"></path>
                  <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                  <path d="M9 12h12l-3 -3"></path>
                  <path d="M18 15l3 -3"></path>
                </svg>
                <span>Logout</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock nav %} {% block content %}

    <section
      id="content"
      class="container mx-auto rounded-3xl my-10 shadow-lg delay-[300ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0"
      data-taos-offset="300">
      <div class="container flex flex-col mx-auto rounded-lg pt-12 pb-12 my-5">
        <div class="container flex flex-col items-center gap-16 mx-auto">
          <div class="flex flex-col gap-7">
            <div class="flex flex-col gap-5 px-6 text-center w-10/12 mx-auto justify-start">
              <h2 class="text-4xl md:text-5xl capitalize font-extrabold leading-tight font-['Bahnschrift']">What is a Palawan pangolin?</h2>
              <p class="text-left text-lg md:text-lg font-normal leading-7 font-['Roboto']">
                The Philippine pangolin or Palawan pangolin (
                <i>Manis culionensis</i>
                 ), also locally known as balintong, is a pangolin species endemic to the Palawan province of the Philippines. Its habitat includes primary and secondary forests, as well as
                surrounding grasslands. This species is moderately common within its limited range, but is at risk due to heavy hunting because of its valued scales and meat. This species is
                distinguished from the closely related Sunda pangolin by its smaller body-to-tail ratio, smaller scales, and a shorter head. It is listed as Critically Endangered by the IUCN,
                and Critically Endangered by the Palawan Council for Sustainable Development (PCSD).
              </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mt-10 w-full">
              <div class="stat-box relative w-full h-[155.65px] flex flex-col items-center">
                <span class="text-[40px] md:text-[60px] font-bold font-['Bahnschrift']">34-kg</span>
                <span class="text-[20px] md:text-[25px] font-normal font-['Bahnschrift']">pangolins weight</span>
              </div>
              <div class="stat-box relative w-full h-[174px] flex flex-col items-center">
                <span class="text-[40px] md:text-[60px] font-bold font-['Bahnschrift']">10-35 in</span>
                <span class="text-[20px] md:text-[25px] font-normal font-['Bahnschrift']">pangolins length head to tail</span>
              </div>
              <div class="stat-box relative w-full h-[222px] flex flex-col items-center">
                <span class="text-[40px] md:text-[60px] font-bold font-['Bahnschrift']">70-million</span>
                <span class="text-[20px] md:text-[25px] font-normal font-['Bahnschrift']">insects each year eat by pangolin</span>
              </div>
              <div class="stat-box relative w-full h-[143px] flex flex-col items-center">
                <span class="text-[40px] md:text-[60px] font-bold font-['Bahnschrift']">20-years</span>
                <span class="text-[20px] md:text-[25px] font-normal font-['Bahnschrift']">life span of pangolin</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section
      id="content"
      class="container mx-auto rounded-3xl my-10 shadow-lg delay-[300ms] duration-[600ms] taos:translate-x-[200px] taos:opacity-0"
      data-taos-offset="400">
      <div class="container mx-auto flex flex-wrap justify-center gap-10 p-6">
        <div class="container mx-auto flex flex-wrap justify-center gap-10 p-6">
          <div class="text-content w-full md:w-1/2 p-6">
            <h2 class="text-left text-4xl md:text-5xl capitalize font-extrabold leading-tight text-dark-grey-900 font-['Bahnschrift'] mb-5">Appearance</h2>
            <p class="text-left text-lg md:text-lg font-normal leading-7 font-['Roboto']">
              The Philippine pangolin is a medium-sized mammal covered in small triangular scales made of keratin everywhere except the underbelly and face. It regrows new scales when they are lost
              and always has the same number of scales throughout its lifespan. The scales come in shades of brown, yellow, and olive, making for adequate camouflage at night. Areas of the body
              without scales are covered in a layer of hair.
            </p>
          </div>

          <div class="image-content w-full md:w-1/4 flex justify-center items-center">
            <img src="{% static "img/pango3.jpg" %}" alt="Sample Image" class="max-w-full h-auto border border-gray-300 rounded-lg shadow-lg" />
          </div>
        </div>
        <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-1 dark:bg-gray-700" />
        <div class="container mx-auto flex flex-wrap justify-center gap-10 p-6">
          <div class="image-content md:w-1/4 flex justify-center items-center">
            <img src="{% static "img/pango4.jpg" %}" alt="Sample Image" class="max-w-full h-auto border border-gray-300 rounded-lg shadow-lg" />
          </div>
          <div class="text-content w-full md:w-1/2 p-6">
            <h2 class="text-left text-4xl md:text-5xl capitalize font-extrabold leading-tight font-['Bahnschrift'] mb-5">Habits and Lifestyle</h2>
            <p class="text-left text-lg md:text-lg font-normal leading-7 font-['Roboto']">
              Philippine pangolins are nocturnal and reclusive and are usually seen singly or in pairs. Because they are mainly active at night, their eyesight is below average. While their hearing is
              still only about average, they make up for their lack of vision with their extraordinary sense of smell. Pangolins generally travel slowly but can move in a short burst towards safety
              when they become startled, and even have a limited ability to swim. Occasionally, these animals can be seen standing on their hind legs, balancing on their tail, to help detect nearby
              predators.
            </p>
          </div>
        </div>
        <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-1 dark:bg-gray-700" />
        <div class="container mx-auto flex flex-wrap justify-center gap-10 p-6">
          <div class="text-content w-full md:w-1/2 p-6">
            <h2 class="text-left text-4xl md:text-5xl capitalize font-extrabold leading-tight text-dark-grey-900 font-['Bahnschrift'] mb-5">Diet and Nutrition</h2>
            <p class="text-left text-lg md:text-lg font-normal leading-7 font-['Roboto']">
              Philippine pangolins are carnivores (insectivores), more specifically myrmecophages. They feed mainly on termites and ants and will also consume other insects.
            </p>
          </div>

          <div class="image-content w-full md:w-1/4 flex justify-center items-center">
            <img src="{% static "img/pango6.jpg" %}" alt="Sample Image" class="max-w-full h-auto border border-gray-300 rounded-lg shadow-lg" />
          </div>
        </div>
      </div>
    </section>
    <section
      id="content"
      class="container mx-auto rounded-3xl my-10 0 shadow-lg">
      <div class="container mx-auto flex flex-wrap justify-center gap-10 p-6">
        <div class="text-content w-full md:w-10/12 p-6">
          <h2 class="text-center text-4xl md:text-5xl capitalize font-extrabold leading-tight font-['Bahnschrift'] mb-8">Mating Habits</h2>

          <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-center mb-8">
            <div>
              <span class="text-black text-xl font-bold font-['Bahnschrift'] leading-[30px]">
                REPRODUCTION SEASON
                <br />
              </span>
              <span class="text-black text-xl font-normal font-['Roboto'] leading-[30px]">spring</span>
            </div>

            <div>
              <span class="text-black text-xl font-bold font-['Bahnschrift'] leading-[30px]">
                BABY NAME
                <br />
              </span>
              <span class="text-black text-xl font-normal font-['Roboto'] leading-[30px]">pangopup</span>
            </div>

            <div>
              <span class="text-black text-xl font-bold font-['Bahnschrift'] leading-[30px]">
                PREGNANCY DURATION
                <br />
              </span>
              <span class="text-black text-xl font-normal font-['Roboto'] leading-[30px]">18 weeks</span>
            </div>

            <div>
              <span class="text-black text-xl font-bold font-['Bahnschrift'] leading-[30px]">
                BABY CARRYING
                <br />
              </span>
              <span class="text-black text-xl font-normal font-['Roboto'] leading-[30px]">1 pangopup</span>
            </div>
            <div>
              <span class="text-black text-xl font-bold font-['Bahnschrift'] leading-[30px]">
                INDEPENDENT AGE
                <br />
              </span>
              <span class="text-black text-xl font-normal font-['Roboto'] leading-[30px]">5 months</span>
            </div>
          </div>
          <p class="text-left text-lg md:text-lg font-normal leading-7 text-black font-['Roboto']">
            While little is known about the reproduction of Philippine pangolins, their mating habits are thought to be similar to those of the Sunda pangolin. Like most pangolins, Philippine
            pangolins breed in the spring. The same odorous secretion used as a self-defense mechanism is also used by males to assert against other males, attract a mate, and is used by the mother
            while raising their young. Baby pangolins, called pangopups, are born after a gestation period of around 18 weeks and are suckled by their mothers for about 4 months. Usually, only one
            offspring is born at once, and they are carried around on the mother's back for a time. When sleeping or threatened, the mother tends to roll in a ball for defense like usual, but with the
            young cradled in a ball of their own, encompassed in the mother's ball. At the age of about 5 months, pangopups will separate from their mother. Female pangolins may even adopt lone young
            that have lost their own mother.
          </p>
        </div>
      </div>
    </section>

    <section class="w-full my-10 border h-max">
      <div class="md:mx-16 p-6 h-full">{% include 'private/includes/card_carousel.html' %}</div>
    </section>

    {% include 'private/includes/footer.html' %} {% endblock %} {% block extra_js %} {% endblock extra_js %}
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/cdn.min.js' %}"></script>
    <script src="{% static 'js/taos.js' %}"></script>
    <script src="{% static 'js/admin/flowbite.min.js' %}"></script>
    <script src="{% static 'js/preline.js' %}"></script>
    <script src="{% static 'js/private/navbar.js' %}"></script>
  </body>
</html>
